.venv
.env

# ignore coverage reports
.coverage
coverage/

# ingore import linter
/.import_linter_cache/

# Distribution / packaging
bin/
/build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/.install-opentofu.sh

# SQlite
*.sqlite3
